
  h1 {
    color: #000000;
    margin-left: 40px;
  }

.main{
    background-color: #012a5c;
    color: #dbd9e4;

    width: 500px;
    height: 500px;  
}

.page2{
    width: 500px;
    height: 300px;
}
